Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

test: skip failing parsing tests
  test/JSONParserLib.ts
Due: eslint

fix: avoid code repetition
  src/libraries/SessionLib.sol
Due: none

feat: add another test setup
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

test: fix tests
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

fix: cleanup unused imports
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

docs: add nat-spec doc comments
  src/SsoBeacon.sol
  src/helpers/TimestampAsserterLocator.sol
  src/helpers/TokenCallbackHandler.sol
  src/interfaces/IHook.sol
  src/interfaces/IModule.sol
  src/interfaces/IModuleValidator.sol
  src/interfaces/ITimestampAsserter.sol
  src/libraries/Errors.sol
  src/libraries/SessionLib.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

fix: more errors cleanup
  src/libraries/Errors.sol
Due: none

chore: extend cspell dict
  cspell-config/cspell-misc.txt
Due: none

docs: weird -> unusual
  src/libraries/SessionLib.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: update timestamp asserter locator with mainnet address
  src/helpers/TimestampAsserterLocator.sol
Due: none

chore: update webauthn docs
  src/validators/WebAuthValidator.sol
Due: none

Initial slither setup
  .github/workflows/slither.yaml
  foundry.toml
  slither.config.json
Due: prettier --list-different

Update AAFactory.sol
  src/AAFactory.sol
Due: none

test: dummy hook test
  src/interfaces/IHook.sol
  src/managers/HookManager.sol
  src/test/TestExecutionHook.sol
  src/test/TestValidationHook.sol
  test/PasskeyModule.ts
Due: eslint

test: add hook tests
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/test/TestExecutionHook.sol
  src/test/TestValidationHook.sol
  test/HooksTest.ts
Due: eslint

chore: add fixme
  src/test/TestValidationHook.sol
Due: none

chore: add SPDX to IModule.sol
  src/interfaces/IModule.sol
Due: none

fix: add compiler version and remove unwanted comments
  src/interfaces/IGuardianRecoveryValidator.sol
Due: none

fix: bugs and jsdoc format to match rest of package
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: test that included guardian contract
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint

feat: add passkey to account relation
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: add guardian added time to guardian information
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: prevent account overlap
  src/AAFactory.sol
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: audit fix L-01
  src/libraries/SsoStorage.sol
Due: none

chore: audit fix L-02
  src/libraries/SessionLib.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

chore: audit fix N-01
  src/SsoAccount.sol
Due: none

chore: audit fix N-02
  src/interfaces/IOwnerManager.sol
  src/managers/OwnerManager.sol
Due: none

chore: audit fix N-04
  src/interfaces/IHookManager.sol
  src/interfaces/ISsoAccount.sol
Due: none

Fix usage of encodeCall
  src/libraries/SessionLib.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

uint256 to address conversion
  src/libraries/SessionLib.sol
Due: none

feat: improve registered accounts logic
  src/AAFactory.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: tests
  test/GuardianRecoveryValidatorTest.ts
  test/utils.ts
Due: eslint

fix: unknown accounts
  src/AAFactory.sol
Due: none

fix: discard recovery bug
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: move account verifications
  src/AAFactory.sol
Due: none

chore: move imports to different packages
  src/AAFactory.sol
  src/SsoAccount.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/test/TestPaymaster.sol
Due: none

Path conditions:
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
  prettier --list-different: any of: *.{json,yml}
