Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

fix: await on test transaction failure
  test/SessionKeyTest.ts
Due: eslint

chore: cleanup test code
  test/SessionKeyTest.ts
Due: eslint

fix: have to await the reverted within expect
  test/SessionKeyTest.ts
Due: eslint

fix: no validation hook
  src/handlers/ValidationHandler.sol
  src/libraries/SignatureDecoder.sol
  src/libraries/SsoStorage.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: move to two interfaces for module validation
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/handlers/ValidationHandler.sol
  src/interfaces/IHookManager.sol
  src/interfaces/IModuleValidator.sol
  src/managers/HookManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: remove old validator interface
  src/AAFactory.sol
  src/SsoAccount.sol
  src/handlers/ValidationHandler.sol
  src/interfaces/IHookManager.sol
  src/interfaces/ISsoAccount.sol
  src/interfaces/IValidator.sol
  src/interfaces/IValidatorManager.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  test/BasicTest.ts
  test/SessionKeyTest.ts
Due: eslint

feat: re-add execution hook
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/handlers/ValidationHandler.sol
  src/interfaces/IHook.sol
  src/interfaces/IModuleValidator.sol
  src/libraries/SignatureDecoder.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: gas estimation during session validation
  src/validators/SessionKeyValidator.sol
Due: none

feat: remove k1 validators
  src/handlers/ValidationHandler.sol
  src/interfaces/IValidator.sol
  src/interfaces/IValidatorManager.sol
  src/libraries/Errors.sol
  src/libraries/SsoStorage.sol
  src/managers/ValidatorManager.sol
Due: none

fix: cleanup onlySelfOrModule
  src/auth/Auth.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
Due: none

feat: validate adding keys during init
  src/validators/SessionKeyValidator.sol
Due: none

feat: disable validators on removal
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: link to parent project
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: update CI action
  .github/workflows/ci.yml
Due: prettier --list-different

fix: review comments
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/SessionKeyTest.ts
Due: eslint

fix: move stuff around
  src/validators/SessionKeyValidator.sol
Due: none

chore: clean up unused code
  src/AAFactory.sol
  src/SsoAccount.sol
  src/interfaces/ISsoAccount.sol
Due: none

fix: interface size
  test/BasicTest.ts
  test/SessionKeyTest.ts
Due: eslint

fix: single module interface
  src/managers/HookManager.sol
Due: none

fix: replace modules with hooks
  src/AAFactory.sol
  src/SsoAccount.sol
  src/interfaces/ISsoAccount.sol
  test/BasicTest.ts
  test/SessionKeyTest.ts
Due: eslint

fix: revert this to older implemention
  test/SessionKeyTest.ts
Due: eslint

fix: run all tests
  test/SessionKeyTest.ts
Due: eslint

feat: remove old validator interface
  src/AAFactory.sol
  src/SsoAccount.sol
  src/handlers/ValidationHandler.sol
  src/interfaces/IHookManager.sol
  src/interfaces/ISsoAccount.sol
  src/managers/HookManager.sol
  src/validators/SessionKeyValidator.sol
  test/BasicTest.ts
  test/SessionKeyTest.ts
Due: eslint

fix: more merge conflicts
  src/managers/HookManager.sol
  src/validators/SessionKeyValidator.sol
Due: none

chore: cleanup accidental changes
  src/interfaces/IHookManager.sol
  src/managers/HookManager.sol
  test/SessionKeyTest.ts
Due: eslint

fix: make factory proxy work
  scripts/deploy.ts
  src/AAFactory.sol
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint

fix: renamings
  src/SsoBeacon.sol
  test/utils.ts
Due: eslint

fix: make tests runnable multiple times in a row
  test/SessionKeyTest.ts
Due: eslint

fix: multi validator account creation
  src/validators/SessionKeyValidator.sol
Due: none

Revert "fix: multi validator account creation (#217)"
  src/validators/SessionKeyValidator.sol
Due: none

feat: re-allow validation type hooks
  src/SsoAccount.sol
  src/interfaces/IHook.sol
  src/interfaces/IHookManager.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
Due: none

fix: validation hook missing lines
  src/interfaces/IHookManager.sol
  src/managers/HookManager.sol
Due: none

fix: removed extra hash for gas estimates
  src/validators/SessionKeyValidator.sol
  test/SessionKeyTest.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
  prettier --list-different: any of: *.{json,yml}
