Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

.lintstagedrc.yml:

"*.{js,ts,vue}":
    - eslint
"*.md":
    - markdownlint-cli2
    - cspell lint --quiet --no-must-find-files --files
"*.{json,yml}":
    - prettier --list-different

fix: remove comments
  packages/contracts/src/libraries/SessionLib.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

fix: remove isValidSignature
  src/validators/SessionKeyValidator.sol
  test/utils.ts
Due: eslint

fix: solc version
  src/interfaces/ITimestampAsserter.sol
Due: none

fix: license
  src/helpers/TimestampAsserterLocator.sol
Due: none

chore: add license and fix readme
  LICENSE
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore: enable ci on main
  .github/workflows/ci.yml
Due: prettier --list-different

fix: typed call policy, with improved constraint index logic
  README.md
  examples/nft-quest/abi/ZeekNFTQuest.ts
  examples/nft-quest/stores/connector.ts
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/sdk/README.md
  packages/sdk/src/abi/SessionKeyModule.ts
  packages/sdk/src/client-auth-server/Signer.ts
  packages/sdk/src/client-auth-server/WalletProvider.ts
  packages/sdk/src/client-auth-server/index.ts
  packages/sdk/src/client-auth-server/rpc.ts
  packages/sdk/src/client-auth-server/session.ts
  packages/sdk/src/client-auth-server/session/index.ts
  packages/sdk/src/client-auth-server/session/type-utils.ts
  packages/sdk/src/client-auth-server/session/utils.ts
  packages/sdk/src/client/clients/passkey.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/connector/index.ts
  packages/sdk/src/index.ts
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: add support for human readable expiry
  README.md
  docs/sdk/client-auth-server/README.md
  examples/nft-quest/stores/connector.ts
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/client-auth-server/session/index.ts
  packages/sdk/src/client-auth-server/session/utils.ts
  packages/sdk/tsconfig.base.json
  pnpm-lock.yaml
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

fix: undo accidental session key module abi changes
  packages/sdk/src/abi/SessionKeyModule.ts
Due: eslint

fix: update rich pk
  examples/nft-quest-contracts/deploy/utils.ts
  examples/nft-quest-contracts/project.json
  packages/contracts/test/utils.ts
Due: eslint, prettier --list-different

fix: hardhat params must be lower case
  scripts/deploy.ts
Due: eslint

Revert "fix: update rich pk"
  examples/nft-quest-contracts/deploy/utils.ts
  examples/nft-quest-contracts/project.json
  packages/contracts/test/utils.ts
Due: eslint, prettier --list-different

fix: small changes
  src/batch/BatchCaller.sol
  src/validators/PasskeyValidator.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: title
  examples/nft-quest/nuxt.config.ts
Due: eslint

fix: restore tests and fix crossOrigin bug
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

fix: typechain
  test/PasskeyModule.ts
Due: eslint

fix: small changes (#205)
  src/batch/BatchCaller.sol
  src/validators/PasskeyValidator.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

fix: no validation hook
  src/handlers/ValidationHandler.sol
  src/libraries/SignatureDecoder.sol
  src/libraries/SsoStorage.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: move to two interfaces for module validation
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/handlers/ValidationHandler.sol
  src/interfaces/IHookManager.sol
  src/interfaces/IModuleValidator.sol
  src/managers/HookManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: selector
  examples/nft-quest/stores/connector.ts
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/sdk/src/client-auth-server/session/index.ts
Due: eslint

chore: replace helpers with imported libs
  package.json
  pnpm-lock.yaml
  src/handlers/ERC1271Handler.sol
  src/helpers/Base64.sol
  src/helpers/EIP712.sol
  src/validators/WebAuthValidator.sol
Due: prettier --list-different

chore: clean up unused code
  src/AAFactory.sol
  src/SsoAccount.sol
  src/auth/Auth.sol
  src/auth/ModuleAuth.sol
  src/handlers/ValidationHandler.sol
  src/interfaces/IModuleManager.sol
  src/interfaces/IOwnerManager.sol
  src/interfaces/ISsoAccount.sol
  src/interfaces/IValidatorManager.sol
  src/libraries/SsoStorage.sol
  src/managers/ModuleManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
Due: none

fix: interface size
  test/BasicTest.ts
  test/SessionKeyTest.ts
Due: eslint

fix: single module interface
  src/interfaces/IModule.sol
  src/interfaces/IModuleValidator.sol
  src/managers/HookManager.sol
  src/managers/ModuleManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: update deps
  pnpm-lock.yaml
Due: none

fix: remove the whole manager
  src/SsoAccount.sol
  src/interfaces/IModuleManager.sol
  src/interfaces/ISsoAccount.sol
  src/managers/ModuleManager.sol
Due: none

fix: allow revoke keys via paymaster
  src/test/ExampleAuthServerPaymaster.sol
Due: none

fix: lint
  package.json
  src/test/ExampleAuthServerPaymaster.sol
Due: prettier --list-different

chore: update deployment script
  .env.example
  scripts/deploy.ts
Due: eslint

chore: update to renamed action
  .github/workflows/ci.yml
Due: prettier --list-different

fix: update to an older action version
  .github/workflows/ci.yml
Due: prettier --list-different

fix: replace modules with hooks
  package.json
  pnpm-lock.yaml
  src/AAFactory.sol
  src/SsoAccount.sol
  src/interfaces/ISsoAccount.sol
  src/managers/HookManager.sol
  src/validators/SessionKeyValidator.sol
  test/BasicTest.ts
  test/SessionKeyTest.ts
Due: eslint, prettier --list-different

fix: run all tests
  test/SessionKeyTest.ts
Due: eslint

fix: revert this to older implemention
  test/SessionKeyTest.ts
Due: eslint

chore: update CI action name
  .gitignore
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files
