Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

chore: use only unnamed returns
  src/validators/WebAuthValidator.sol
Due: none

chore: adjust constant permissions
  src/handlers/ERC1271Handler.sol
  src/libraries/JsmnSolLib.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: use explicit imports
  src/helpers/TimestampAsserterLocator.sol
  src/helpers/TokenCallbackHandler.sol
Due: none

fix: isValidSignature
  src/handlers/ERC1271Handler.sol
Due: none

fix: paymaster check in validateFeeLimit
  src/libraries/SessionLib.sol
Due: none

Update test/JsmnSolLib.ts
  test/JsmnSolLib.ts
Due: eslint

Update test/PasskeyModule.ts
  test/PasskeyModule.ts
Due: eslint

fix: use viem instead of ethers for key encoding
  test/PasskeyModule.ts
Due: eslint

chore: change how validation is returned
  src/SsoAccount.sol
Due: none

chore: update duplicate ierc165 check
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: remove more unused code
  src/handlers/ValidationHandler.sol
  src/interfaces/IInitable.sol
  src/libraries/JsmnSolLib.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/SessionKeyValidator.sol
Due: none

fix: remove unused var
  src/libraries/JsmnSolLib.sol
Due: none

fix: use chars
  src/libraries/JsmnSolLib.sol
Due: none

fix: update tests with new interface
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

feat: add json string tests
  test/JsmnSolLib.ts
Due: eslint

fix: re-add removed return result
  src/libraries/JsmnSolLib.sol
Due: none

fix: period boundaries overlap
  src/libraries/SessionLib.sol
Due: none

fix: remove FeePaid event
  src/SsoAccount.sol
  src/interfaces/ISsoAccount.sol
Due: none

docs: add doc comments for session key validator
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: minor gas optimizations
  src/SsoAccount.sol
  src/libraries/JsmnSolLib.sol
  src/libraries/SessionLib.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: better validations
  src/SsoAccount.sol
  src/libraries/SessionLib.sol
  src/validators/SessionKeyValidator.sol
Due: none

fix: remove hookDataStore
  src/interfaces/IHook.sol
  src/interfaces/IHookManager.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
Due: none

feat: use 7579 module interface for add/remove
  src/SsoAccount.sol
  src/interfaces/IModule.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: add IModule to interface support
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: add tests to cover passkey init
  test/PasskeyModule.ts
  test/utils.ts
Due: eslint

fix: use IModule for addHook interface
  src/interfaces/IHook.sol
Due: none

chore: remove unused lib
  package.json
  pnpm-lock.yaml
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: prettier --list-different

feat: repalce linked lists with enumerable sets
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/handlers/ValidationHandler.sol
  src/libraries/LinkedList.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
Due: none

test: add module install/uninstall tests
  test/JsmnSolLib.ts
  test/SessionKeyTest.ts
Due: eslint

feat: allow approval-based paymasters with proper checks
  src/libraries/SessionLib.sol
Due: none

fix: calldata -> memory
  src/libraries/SessionLib.sol
Due: none

fix: use load instead of slice
  src/libraries/SessionLib.sol
Due: none

fix: remove vs unlink
  package.json
  pnpm-lock.yaml
  src/SsoAccount.sol
  src/interfaces/IHookManager.sol
  src/interfaces/IModule.sol
  src/interfaces/IModuleValidator.sol
  src/interfaces/IValidatorManager.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
  test/SessionKeyTest.ts
Due: eslint, prettier --list-different

fix: typo
  src/interfaces/IValidatorManager.sol
Due: none

test: add fee limit & paymaster tests
  hardhat.config.ts
  src/libraries/SessionLib.sol
  src/test/TestPaymaster.sol
  src/validators/SessionKeyValidator.sol
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint

fix: minor test tweaks
  test/SessionKeyTest.ts
Due: eslint

chore: fmt
  test/JSONParserLib.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
  prettier --list-different: any of: *.{json,yml}
