Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

.lintstagedrc.yml:

"*.{js,ts,vue}":
    - eslint
"*.md":
    - markdownlint-cli2
    - cspell lint --quiet --no-must-find-files --files
"*.{json,yml}":
    - prettier --list-different

fix: fix some tests
  scripts/deploy.ts
  test/SessionKeyTest.ts
Due: eslint

chore: updated verifiers
  src/autogenerated/JwtTxValidationVerifier.sol
  src/autogenerated/JwtTxValidationVerifierTest.sol
Due: none

OIDC/merge main (#445)
  README.md
  hardhat.config.ts
  scripts/deploy.ts
  scripts/upgrade.ts
  src/AAFactory.sol
  src/SsoAccount.sol
  src/autogenerated/JwtTxValidationVerifier.sol
  src/autogenerated/JwtTxValidationVerifierTest.sol
  src/handlers/ERC1271Handler.sol
  src/helpers/VerifierCaller.sol
  src/interfaces/IGuardianRecoveryValidator.sol
  src/interfaces/IHookManager.sol
  src/interfaces/ISsoAccount.sol
  src/libraries/Errors.sol
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/WebAuthValidator.sol
  test/BasicTest.ts
  test/GuardianRecoveryValidatorTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add guardian contracts to publish
  scripts/publish.ts
Due: eslint

chore: small warning on module unliking
  src/interfaces/IValidatorManager.sol
Due: none

feat: OIDC account recovery (#273)
  cspell-config/cspell-misc.txt
  cspell-config/cspell-sol.txt
  cspell.json
  package.json
  pnpm-lock.yaml
  scripts/deploy.ts
  scripts/publish.ts
  slither.config.json
  src/OidcKeyRegistry.sol
  src/autogenerated/JwtTxValidationVerifier.sol
  src/autogenerated/JwtTxValidationVerifierTest.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/interfaces/IOidcRecoveryValidator.sol
  src/interfaces/IZkVerifier.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/OidcRecoveryValidator.sol
  test/JSONParserLib.ts
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint, prettier --list-different

feat: implement ERC7739
  src/handlers/ERC1271Handler.sol
  src/interfaces/ISsoAccount.sol
Due: none

test: add ERC7739 test
  test/BasicTest.ts
Due: eslint

fix: domain name and version may change
  src/handlers/ERC1271Handler.sol
Due: none

fix: audit issues
  src/handlers/ERC1271Handler.sol
Due: none

test: remove old invalid tests
  test/PasskeyModule.ts
Due: eslint

test: add passkey tests
  test/BasicTest.ts
  test/PasskeyModule.ts
Due: eslint

feat: virtualize session key validator methods
  src/validators/SessionKeyValidator.sol
Due: none

fix: fix merge
  test/BasicTest.ts
Due: eslint

chore: skip validation post-nonce
  src/SsoAccount.sol
Due: none

chore: disable validation for testing
  src/SsoAccount.sol
Due: none

chore: keep moving the validation logic
  src/SsoAccount.sol
Due: none

chore: avoid the module validation logic
  src/SsoAccount.sol
Due: none

chore: move early return above ecdsa check
  src/SsoAccount.sol
Due: none

chore: also perform ecdsa validation
  src/SsoAccount.sol
Due: none

chore: skip validation within modules
  src/SsoAccount.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: run real webauthn module
  src/validators/WebAuthValidator.sol
Due: none

chore: skip passkey and start session
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: move early return later
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: extend test pass the complicated part
  src/libraries/SessionLib.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: move early returns closer to failure
  src/SsoAccount.sol
  src/libraries/SessionLib.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

chore: remove session validate check
  src/libraries/SessionLib.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: show signature failures
  src/libraries/SessionLib.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: adding new AllowedSessionsValidator
  src/validators/AllowedSessionsValidator.sol
Due: none

chore: update viem to match SDK
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

refactor: rename division
  src/validators/AllowedSessionsValidator.sol
Due: none

feat: update viem off the sdk main branch
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

refactor: fixes from the PR 452
  src/libraries/Errors.sol
  src/validators/AllowedSessionsValidator.sol
Due: none

Update src/validators/AllowedSessionsValidator.sol
  src/validators/AllowedSessionsValidator.sol
Due: none

refactor: removing assembly section and do general fixes according to PR 452
  src/validators/AllowedSessionsValidator.sol
Due: none

refactor: remove unused local variable
  src/validators/AllowedSessionsValidator.sol
Due: none

feat: a bunch of risk mitigation/hardening fixes
  src/SsoAccount.sol
  src/handlers/BatchCaller.sol
  src/handlers/ERC1271Handler.sol
  src/handlers/NoHooksCaller.sol
  src/helpers/SsoUtils.sol
  src/helpers/Utils.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/interfaces/IZkVerifier.sol
  src/libraries/Errors.sol
  src/libraries/SessionLib.sol
  src/libraries/SignatureDecoder.sol
  src/managers/HookManager.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  src/validators/SessionKeyValidator.sol
  test/BasicTest.ts
Due: eslint

fix: more fixes and cleanup
  src/AccountProxy.sol
  src/EfficientProxy.sol
  src/TransparentProxy.sol
  src/helpers/SsoUtils.sol
  src/interfaces/IGuardianRecoveryValidator.sol
  src/libraries/Errors.sol
  src/libraries/SessionLib.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  src/validators/SessionKeyValidator.sol
  test/GuardianRecoveryValidatorTest.ts
  test/SessionKeyTest.ts
Due: eslint
