Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

Revert "chore: rename to reflect SSO interface (#185)"
  packages/auth-server/stores/client.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/helpers/Execution.sol
  packages/contracts/src/interfaces/IClaveAccount.sol
  packages/contracts/src/interfaces/IERC7579Account.sol
  packages/contracts/src/interfaces/IERC7579Validator.sol
  packages/contracts/src/libraries/ClaveStorage.sol
  packages/contracts/src/libraries/ERC7579Mode.sol
  packages/contracts/src/libraries/Errors.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/managers/OwnerManager.sol
  packages/contracts/src/managers/ValidatorManager.sol
  packages/contracts/src/test/ExampleAuthServerPaymaster.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
  packages/sdk/src/abi/Factory.ts
  packages/sdk/src/client/actions/account.ts
Due: eslint

refactor: improve code quality
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/SsoAccount.sol
  packages/contracts/src/batch/BatchCaller.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/libraries/Errors.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/WebAuthValidator.sol
Due: none

fix: compilation
  packages/contracts/src/SsoAccount.sol
Due: none

fix: use deploy 7579 proxy account interface
  packages/sdk/src/abi/Factory.ts
Due: eslint

Reapply "chore: rename to reflect SSO interface"
  packages/auth-server/stores/client.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/SsoAccount.sol
  packages/contracts/src/helpers/Execution.sol
  packages/contracts/src/interfaces/IERC7579Account.sol
  packages/contracts/src/interfaces/IERC7579Validator.sol
  packages/contracts/src/interfaces/ISsoAccount.sol
  packages/contracts/src/libraries/ERC7579Mode.sol
  packages/contracts/src/libraries/Errors.sol
  packages/contracts/src/libraries/SsoStorage.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/managers/OwnerManager.sol
  packages/contracts/src/managers/ValidatorManager.sol
  packages/contracts/src/test/ExampleAuthServerPaymaster.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
  packages/sdk/src/abi/Factory.ts
  packages/sdk/src/client/actions/account.ts
Due: eslint

fix: remove 7579 account interface entirely
  packages/contracts/src/AAFactory.sol
Due: none

fix: implement Efficient Proxy, fix batch calss
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/AccountProxy.sol
  packages/contracts/src/EfficientProxy.sol
  packages/contracts/src/SsoAccount.sol
  packages/contracts/src/TransparentProxy.sol
  packages/contracts/src/batch/BatchCaller.sol
  packages/contracts/src/libraries/Errors.sol
Due: none

Contracts cleanup (#190)
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/AccountProxy.sol
  packages/contracts/src/EfficientProxy.sol
  packages/contracts/src/SsoAccount.sol
  packages/contracts/src/TransparentProxy.sol
  packages/contracts/src/batch/BatchCaller.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/libraries/Errors.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/WebAuthValidator.sol
Due: none

fix: final bit of renaming
  packages/contracts/src/handlers/ERC1271Handler.sol
  packages/contracts/src/libraries/SsoStorage.sol
Due: none

fix: basic tests
  packages/contracts/test/BasicTest.ts
Due: eslint

refactor: small refactoring
  packages/contracts/src/libraries/Errors.sol
  packages/contracts/src/libraries/SessionLib.sol
  packages/contracts/src/libraries/SignatureDecoder.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

fix: sessions paymaster input
  packages/contracts/src/libraries/SessionLib.sol
Due: none

refactor: contract AAFactory
  packages/contracts/src/AAFactory.sol
Due: none

fix: use default upgradeable beacon
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/UpgradeableBeacon.sol
Due: none

fix: pre-audit changes (#191)
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/libraries/Errors.sol
  packages/contracts/src/libraries/SessionLib.sol
  packages/contracts/src/libraries/SignatureDecoder.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

chore: remove erc7579 stuff
  packages/contracts/src/interfaces/IERC7579Module.sol
  packages/contracts/src/interfaces/PackedUserOperation.sol
  packages/contracts/src/libraries/ERC7579Mode.sol
  packages/contracts/src/libraries/Errors.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
Due: none

chore(nft-quest): disable 1password form saver
  examples/nft-quest/components/TransferZeek.vue
  examples/nft-quest/components/zk/input.vue
Due: eslint

fix: gateway ui improvements
  README.md
  examples/demo-app/nuxt.config.ts
  examples/demo-app/pages/index.vue
  packages/auth-server/components/common/Alert.vue
  packages/auth-server/components/session/AdvancedInfo.vue
  packages/auth-server/components/session/Metadata.vue
  packages/auth-server/components/session/tokens.vue
  packages/auth-server/components/token/TokenAmount.vue
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/auth-server/components/views/confirmation/Send.vue
  packages/auth-server/composables/useTokenUtilities.ts
  packages/auth-server/stores/token.ts
  packages/auth-server/utils/formatters.ts
  packages/sdk/src/client-auth-server/session.ts
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: revert demo-app back to in memory node
  examples/demo-app/pages/index.vue
Due: eslint

fix: remove comments
  packages/auth-server/components/session/tokens.vue
Due: eslint

fix: lint
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: add ofetch to cspell
  cspell-config/cspell-packages.txt
Due: none

fix: sdk improvements
  examples/demo-app/pages/index.vue
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/test/SessionKeyTest.ts
  packages/sdk/prepare-package.mjs
  packages/sdk/src/client-auth-server/Signer.ts
  packages/sdk/src/client-auth-server/WalletProvider.ts
  packages/sdk/src/client-auth-server/interface.ts
  packages/sdk/src/client/actions/sendEip712Transaction.ts
  packages/sdk/src/client/decorators/publicActionsRewrite.ts
  packages/sdk/src/client/decorators/session_wallet.ts
  packages/sdk/src/client/smart-account.ts
  packages/sdk/src/connector/index.ts
Due: eslint

fix: always show eth
  packages/auth-server/components/session/tokens.vue
  packages/auth-server/utils/constants.ts
Due: eslint

fix: copy readme from root during deployment
  packages/sdk/.gitignore
  packages/sdk/prepare-package.mjs
Due: none

fix: update paymaster contract location
  packages/auth-server/stores/client.ts
Due: eslint

fix: add separate readme for sdk
  packages/sdk/.gitignore
  packages/sdk/README.md
  packages/sdk/prepare-package.mjs
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: add deployed contracts
  packages/auth-server/stores/client.ts
Due: eslint

chore(nft-quest): edit layout
  examples/nft-quest/app.vue
  examples/nft-quest/assets/style.scss
  examples/nft-quest/nuxt.config.ts
  examples/nft-quest/pages/index.vue
  examples/nft-quest/pages/mint.vue
  examples/nft-quest/pages/mint/index.vue
Due: eslint

chore(nft-quest): add gif for mint pages
  examples/nft-quest/pages/index.vue
  examples/nft-quest/pages/mint.vue
  examples/nft-quest/pages/mint/index.vue
  examples/nft-quest/public/nft-slow-loop.gif
Due: eslint

chore(nft-quest): adjust button styling
  examples/nft-quest/components/TransferZeek.vue
  examples/nft-quest/components/zk/link.vue
Due: eslint

fix: update addresses
  packages/auth-server/stores/client.ts
  packages/contracts/project.json
  packages/contracts/scripts/deploy.ts
Due: eslint, prettier --list-different

chore: cleanup
  .firebaserc
  .lintstagedrc.mjs
  commitlint.config.mjs
Due: none

fix: remove eslint
  .github/workflows/lint.yml
Due: prettier --list-different

chore: update lockfile
  pnpm-lock.yaml
Due: none

fix: eip1271 on sessions module
  hardhat.config.ts
  src/helpers/Base64.sol
  src/helpers/EIP712.sol
  src/helpers/TokenCallbackHandler.sol
  src/helpers/VerifierCaller.sol
  src/test/VerifierCaller.sol
  src/validators/SessionKeyValidator.sol
Due: eslint

fix: spellcheck
  cspell-config/cspell-sol.txt
Due: none

fix: tests
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
  prettier --list-different: any of: *.{json,yml}
