Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

.lintstagedrc.yml:

"*.{js,ts,vue}":
    - eslint
"*.md":
    - markdownlint-cli2
    - cspell lint --quiet --no-must-find-files --files
"*.{json,yml}":
    - prettier --list-different

fix: cleanup
  src/SsoAccount.sol
  src/libraries/SignatureDecoder.sol
  src/managers/HookManager.sol
  src/validators/SessionKeyValidator.sol
  test/SessionKeyTest.ts
Due: eslint

chore: format
  src/SsoAccount.sol
  src/validators/SessionKeyValidator.sol
Due: none

fix: remove invalid test
  test/SessionKeyTest.ts
Due: eslint

fix: more fixes
  src/SsoAccount.sol
  test/SessionKeyTest.ts
Due: eslint

fix: gas estimation
  src/validators/SessionKeyValidator.sol
  test/SessionKeyTest.ts
Due: eslint

chore: add sepolia timestamp asserter address
  src/helpers/TimestampAsserterLocator.sol
Due: none

Update src/helpers/TimestampAsserterLocator.sol
  src/helpers/TimestampAsserterLocator.sol
Due: none

fix: add session during init
  src/validators/SessionKeyValidator.sol
Due: none

fix: prevent fee limit gas estimation failures
  scripts/deploy.ts
  src/libraries/SessionLib.sol
  src/validators/SessionKeyValidator.sol
Due: eslint

feat: upgrade script
  hardhat.config.ts
  package.json
  scripts/deploy.ts
  scripts/upgrade.ts
  test/utils.ts
Due: eslint, prettier --list-different

fix: update the upgrade scripts to work with AAFactory
  scripts/upgrade.ts
Due: eslint

feat: add session on factory creation
  test/SessionKeyTest.ts
Due: eslint

feat: remove uint2str
  src/libraries/JsmnSolLib.sol
Due: none

feat: add values to error messages
  src/SsoAccount.sol
  src/auth/BootloaderAuth.sol
  src/auth/HookAuth.sol
  src/auth/SelfAuth.sol
  src/batch/BatchCaller.sol
  src/libraries/Errors.sol
  src/libraries/LinkedList.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

feat: int cleanup
  src/helpers/Logger.sol
  src/libraries/JsmnSolLib.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: use static salt for deploy task
  scripts/deploy.ts
  test/utils.ts
Due: eslint

chore: change names to match interfaces
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
Due: none

chore: cleanup variable naming
  src/libraries/JsmnSolLib.sol
Due: none

feat: create an independant implemention for signing
  src/test/VerifierCaller.sol
  src/validators/SessionKeyValidator.sol
  test/PasskeyModule.ts
Due: eslint

feat: off-chain verification test
  test/PasskeyModule.ts
Due: eslint

chore: refactor to compare as directly as possible
  test/PasskeyModule.ts
Due: eslint

feat: add more generated signing tests
  test/PasskeyModule.ts
Due: eslint

feat: refactor test coverage
  test/PasskeyModule.ts
Due: eslint

feat: port tests from jsmnsol lib
  src/test/JsmnSolLibTest.sol
  test/JsmnSolLib.ts
Due: eslint

Update hardhat.config.ts
  hardhat.config.ts
Due: eslint

fix: update to latest era-test-node
  .github/workflows/ci.yml
Due: prettier --list-different

fix: provide more debug for json tests
  .prettierignore
  test/JsmnSolLib.ts
Due: eslint

chore: update comments
  src/handlers/ValidationHandler.sol
  src/libraries/JsmnSolLib.sol
  src/libraries/LinkedList.sol
  src/managers/OwnerManager.sol
Due: none

chore: unprintable character parsing
  src/libraries/JsmnSolLib.sol
Due: none

fix: redundant parsing
  src/libraries/JsmnSolLib.sol
Due: none

chore: update hex codes
  src/libraries/JsmnSolLib.sol
Due: none

feat: remove disable and init from module
  src/interfaces/IHook.sol
  src/interfaces/IInitable.sol
  src/interfaces/IModuleValidator.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: add event to adding a new passkey
  src/validators/WebAuthValidator.sol
Due: none

fix: parse an emoji instead of backslash
  src/libraries/JsmnSolLib.sol
  test/JsmnSolLib.ts
Due: eslint

feat: add duplicate key parsing test
  test/JsmnSolLib.ts
Due: eslint

fix: undo era-test-node version
  .github/workflows/ci.yml
Due: prettier --list-different

feat: validate client json key order
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

feat: add r max check
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

chore: cleanup function modifiers
  src/handlers/ERC1271Handler.sol
  src/libraries/JsmnSolLib.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none
