Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

.lintstagedrc.yml:

"*.{js,ts,vue}":
    - eslint
"*.md":
    - markdownlint-cli2
    - cspell lint --quiet --no-must-find-files --files
"*.{json,yml}":
    - prettier --list-different

chore: audit fix N-02
  src/interfaces/IOwnerManager.sol
  src/managers/OwnerManager.sol
Due: none

chore: audit fix N-04
  src/interfaces/IHookManager.sol
  src/interfaces/ISsoAccount.sol
Due: none

removed selectors in encodeCall
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

chore: linted
  src/libraries/SsoStorage.sol
Due: none

chore: add slither support
  .github/workflows/slither.yml
  slither.config.json
Due: prettier --list-different

fix: slither results
  src/AAFactory.sol
  src/SsoAccount.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

fix: unlinking scenario allowed
  src/managers/ValidatorManager.sol
Due: none

fix: unlinking hooks not locked
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

fix: audit L-07
  src/auth/Auth.sol
  src/auth/HookAuth.sol
  src/handlers/ERC1271Handler.sol
  src/interfaces/ISsoAccount.sol
  src/libraries/Errors.sol
  src/libraries/SignatureDecoder.sol
  src/managers/OwnerManager.sol
Due: none

fix: audit N-05
  src/interfaces/ISsoAccount.sol
Due: none

fix: audit N-07
  src/SsoAccount.sol
  src/helpers/TokenCallbackHandler.sol
  src/libraries/SessionLib.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: audit N-08
  src/AAFactory.sol
Due: none

fix: audit N-08 extra
  src/validators/SessionKeyValidator.sol
Due: none

fix: audit N-07 extra
  src/managers/ValidatorManager.sol
Due: none

fix: audit N-09 partial
  src/AAFactory.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
Due: none

fix: audit N-12
  src/interfaces/IHook.sol
  src/managers/HookManager.sol
Due: none

fix: roll back some visib changes
  src/SsoAccount.sol
  src/helpers/TokenCallbackHandler.sol
  src/libraries/SessionLib.sol
Due: none

fix: additional for L03
  src/managers/HookManager.sol
Due: none

fix: correction for L07 (not L03)
  src/managers/HookManager.sol
Due: none

fix: audit L-03
  src/SsoAccount.sol
  src/auth/Auth.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
Due: none

Add OidcValidator
  src/validators/OidcValidator.sol
Due: none

Update install and uninstall
  src/validators/OidcValidator.sol
Due: none

Add addValidationKey
  src/validators/OidcValidator.sol
Due: none

fix: audit L-07
  src/auth/Auth.sol
  src/auth/HookAuth.sol
  src/handlers/ERC1271Handler.sol
  src/interfaces/ISsoAccount.sol
  src/libraries/Errors.sol
  src/libraries/SignatureDecoder.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
Due: none

fix: audit N-07
  src/SsoAccount.sol
  src/libraries/SessionLib.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: audit N-08
  src/AAFactory.sol
  src/validators/SessionKeyValidator.sol
Due: none

fix: audit N-09
  src/AAFactory.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
Due: none

fix: exec hooks behaviour when adding/removing
  src/managers/HookManager.sol
Due: none

test: fix flaky passkey tests
  test/PasskeyModule.ts
Due: eslint

Add OidcValidator.validateTransaction
  src/validators/OidcValidator.sol
  test/OidcValidatorTest.ts
Due: eslint

fix: don't execute hooks which have been removed/added during current tx
  src/managers/HookManager.sol
Due: none

Add getOidcKeyRegistryContract
  test/utils.ts
Due: eslint

Add 'helloworld' test
  test/OidcKeyRegistryTest.ts
Due: eslint

Test should set one key
  test/OidcKeyRegistryTest.ts
Due: eslint

Test should revert when a non-owner tries to set a key
  test/OidcKeyRegistryTest.ts
  test/utils.ts
Due: eslint

Test should correctly implement circular key storage
  test/OidcKeyRegistryTest.ts
Due: eslint

Update test/OidcKeyRegistryTest.ts
  test/OidcKeyRegistryTest.ts
Due: eslint
