Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

feat: param OIDCKeys is now an array
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

feat: change max keys to 8
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

feat: add _computeMerkleRoot
  package.json
  pnpm-lock.yaml
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint, prettier --list-different

feat: addKeys doesnt calculate multiple merkle roots
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

refactor: add _hashKey
  src/OidcKeyRegistry.sol
Due: none

feat: allow to get oidc data from address
  src/validators/OidcRecoveryValidator.sol
Due: none

refactor: add _updateMerkleRoot
  src/OidcKeyRegistry.sol
Due: none

fix: add merkle to dict
  cspell-config/cspell-misc.txt
Due: none

feat: move merkle root to slot 1
  src/OidcKeyRegistry.sol
Due: none

feat: add verifyKey
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

Update test/OidcKeyRegistryTest.ts
  test/OidcKeyRegistryTest.ts
Due: eslint

feat: make recoveries origin scoped
  scripts/deploy.ts
  src/validators/GuardianRecoveryValidator.sol
  test/utils.ts
Due: eslint

feat: make recoveries origin scoped
  src/validators/GuardianRecoveryValidator.sol
Due: none

refactor: remove casts
  src/OidcKeyRegistry.sol
Due: none

feat: add OidcKeyRegistryNoMerkleComputation
  src/OidcKeyRegistryNoMerkleComputation.sol
Due: none

refactor: remove casts
  src/OidcKeyRegistryNoMerkleComputation.sol
Due: none

docs: add merkle root doc
  src/OidcKeyRegistry.sol
Due: none

feat: make guardians origin domain scoped
  src/interfaces/IGuardianRecoveryValidator.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: add getter for recovery public key
  src/validators/GuardianRecoveryValidator.sol
Due: none

chore: audit n02 extended
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/interfaces/IOwnerManager.sol
  src/managers/OwnerManager.sol
  src/validators/WebAuthValidator.sol
  test/BasicTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
Due: eslint

feat: cant access immutable variables in tx validation steps
  src/validators/GuardianRecoveryValidator.sol
Due: none

fix: fix deployment script
  scripts/deploy.ts
Due: eslint

feat: add OidcRecoveryValidatorTest
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
  test/utils.ts
Due: eslint

fix: remove duplicated imports
  test/OidcKeyRegistryTest.ts
Due: eslint

feat: add small improvements
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: use Initializable from OZ
  scripts/deploy.ts
  src/validators/GuardianRecoveryValidator.sol
Due: eslint

fix: make sure webAuthValidator field is placed on slot 1
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: add encodePubKeyForCircom
  package.json
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint, prettier --list-different

chore: lint fixes
  test/OidcKeyRegistryTest.ts
Due: eslint

fix: merge conflict
  test/PasskeyModule.ts
Due: eslint

fix: code review comments
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

feat: store public keys as circom big int
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

chore: remove unused function and fields
  src/validators/OidcRecoveryValidator.sol
Due: none

chore: remove oidc validator test
  test/OidcRecoveryValidatorTest.ts
Due: eslint

chore: remove console
  src/validators/OidcRecoveryValidator.sol
Due: none

chore: update lockfile
  pnpm-lock.yaml
Due: none

chore: fix spelling
  cspell-config/cspell-misc.txt
Due: none

feat: add base64ToCircomBigInt
  package.json
  test/OidcKeyRegistryTest.ts
  test/utils.ts
Due: eslint, prettier --list-different

chore: lint
  hardhat.config.ts
  scripts/upgrade.ts
  test/BasicTest.ts
  test/GuardianRecoveryValidatorTest.ts
  test/HooksTest.ts
  test/JSONParserLib.ts
  test/OidcKeyRegistryTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
  prettier --list-different: any of: *.{json,yml}
