Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

.lintstagedrc.yml:

"*.{js,ts,vue}":
    - eslint
"*.md":
    - markdownlint-cli2
    - cspell lint --quiet --no-must-find-files --files
"*.{json,yml}":
    - prettier --list-different

fix: test
  test/GuardianRecoveryValidatorTest.ts
Due: eslint

fix: using correct definition for oidc digest in comments (#396)
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: audited guardian recovery
  package.json
  pnpm-lock.yaml
  scripts/deploy.ts
  src/AAFactory.sol
  src/SsoAccount.sol
  src/TransparentProxy.sol
  src/helpers/VerifierCaller.sol
  src/interfaces/IGuardianRecoveryValidator.sol
  src/interfaces/IHookManager.sol
  src/libraries/Errors.sol
  src/test/ExampleAuthServerPaymaster.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/WebAuthValidator.sol
  test/BasicTest.ts
  test/GuardianRecoveryValidatorTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint, prettier --list-different

fix: spelling for test method
  test/GuardianRecoveryValidatorTest.ts
  test/PasskeyModule.ts
Due: eslint

feat: replace uint8 with uint256
  src/OidcKeyRegistry.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: mit license in all contracts
  src/OidcKeyRegistry.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: extracted constant to save gas
  src/OidcKeyRegistry.sol
Due: none

feat: replaced uint by uint256
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: created constant for size of a byte
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: avoid magic number to mask last byte
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: simplified getting last byte
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: removed more magic constants
  src/validators/OidcRecoveryValidator.sol
Due: none

n06-custom-errors
  src/validators/OidcRecoveryValidator.sol
Due: none

audit/n07-recovery-event
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: add explicit visibility specifiers to state variables in OidcRecoveryValidator
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: remove unnecessary blank line in OidcRecoveryValidator contract
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: more intuitive order for circular buffer
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

feat: created OidcRecoveryValidator interface
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: avoid plain addresses in OidcRecoveryValidator state
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/interfaces/IZkVerifier.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: improvied oidc already registered error
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: improved oidc validator for loop
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: improved tests
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

feat: avoid unnecesary override keyword
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: avoid repeated kids
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

fix: improved visibility for OidcKeyRegistry props
  src/OidcKeyRegistry.sol
Due: none

feat: using Ownable2StepUpgradable in OidcKeyRegistry
  src/OidcKeyRegistry.sol
Due: none

feat: expiring oidc recovery attempts after 10 mins
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: removing digests from index on update
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

fix: improved readibility
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: reseting oidc data when a new key is added
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: using all passkey data to generate hash
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: added visibility for all attributes of oidc validator
  src/validators/OidcRecoveryValidator.sol
Due: none
