Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

test: add ERC7739 test
  package.json
  pnpm-lock.yaml
  src/test/ERC1271Caller.sol
  test/BasicTest.ts
  test/utils.ts
Due: eslint, prettier --list-different

feat: perform deploy as part of upgrade
  scripts/deploy.ts
  scripts/upgrade.ts
  test/utils.ts
Due: eslint

fix: domain name and version may change
  src/handlers/ERC1271Handler.sol
Due: none

fix: audit issues
  src/handlers/ERC1271Handler.sol
Due: none

feat: add readme usage section
  README.md
  scripts/deploy.ts
  scripts/upgrade.ts
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: remove webauthn js lib
  package.json
  pnpm-lock.yaml
Due: prettier --list-different

N-01 Using uint8 for Constants Is More Expensive Than uint256 (#399)
  src/OidcKeyRegistry.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

N-02 Inconsistent License in OidcKeyRegistry.sol (#400)
  src/OidcKeyRegistry.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

N-03 Redundant Local Variable in _validateModulus (#401)
  src/OidcKeyRegistry.sol
Due: none

N-04 Use of uint Instead of uint256 (#402)
  src/validators/OidcRecoveryValidator.sol
Due: none

N-05 Magic Numbers in the Code (#403)
  src/validators/OidcRecoveryValidator.sol
Due: none

N-06 Use Custom Errors (#404)
  src/validators/OidcRecoveryValidator.sol
Due: none

N-07 Missing Event Emission in startRecovery Function (#405)
  src/validators/OidcRecoveryValidator.sol
Due: none

N-12 Refactor and Improvement Opportunities (#410)
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/interfaces/IOidcRecoveryValidator.sol
  src/interfaces/IZkVerifier.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

L-04 Potential Loss of Ownership During Transfer (#422)
  src/OidcKeyRegistry.sol
Due: none

L-06 Delayed Recovery Validation May Compromise Account Security (#423)
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

L-07 Old digestIndex Not Released on OIDC Account Update (#424)
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

N-13 Unnecessary override Keyword in onInstall and onUninstall (#411)
  src/validators/OidcRecoveryValidator.sol
Due: none

L-09 Inconsistencies in Account Recovery Data During Recovery Process (#425)
  src/validators/OidcRecoveryValidator.sol
Due: none

L-10 Insufficient Validation in Recovery Process May Lead to Wasted Recovery Attempts (#426)
  src/validators/OidcRecoveryValidator.sol
Due: none

L-12 OidcRecoveryValidator Does Not Follow the ERC-1271 Flow (#428)
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

M-01 Incorrect Key Ordering in _compactKeys Function Leads to Potential Overwriting of New Keys (#429)
  test/OidcKeyRegistryTest.ts
Due: eslint

N-09 Circular Buffer Initialization Causes Counterintuitive Key Indexing (#435)
  src/OidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

L-11 Insufficient Validation of iss Argument Length in addOidcAccount (#427)
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
Due: eslint

feat: update pnpm lockfile again
  pnpm-lock.yaml
Due: none

N-10 Missing Interface for OidcRecoveryValidator Contract (#408)
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/interfaces/IOidcRecoveryValidator.sol
  src/interfaces/IZkVerifier.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

M-03 Unauthorized Control via Manipulated pendingPasskeyHash in startRecovery Process (#431)
  src/validators/OidcRecoveryValidator.sol
Due: none

M-02 Insufficient Validation of RSA Modulus and Exponent in _validateKeyBatch (#430)
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

L-01 Duplicate kid Values in OidcKeyRegistry Allow for Partial Key Deletion and Retrieval (#432)
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

fix: removed issues caused by merge
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
Due: none

fix: fixed issues caused during merge
  test/OidcKeyRegistryTest.ts
Due: eslint

feat: use ERC7739 in ERC1271's `isValidSignature` (#439)
  package.json
  pnpm-lock.yaml
  src/handlers/ERC1271Handler.sol
  src/interfaces/ISsoAccount.sol
  src/test/ERC1271Caller.sol
  test/BasicTest.ts
  test/utils.ts
Due: eslint, prettier --list-different

N-08 State Variable Visibility Not Explicitly Declared (#434)
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/interfaces/IOidcRecoveryValidator.sol
  src/interfaces/IZkVerifier.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
Due: eslint

N-15 improve comments regarding OIDC pubkeys (#442)
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

L-05 Inflexible Recovery Process Termination in OidcRecoveryValidator (#441)
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

N-17 Inconsistent Handling of addOidcAccount Return Value in OidcRecoveryValidator (#440)
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

N-14 Endianness Mismatch in senderHash Representation Between Contract and Circuit (#436)
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
Due: eslint

fix: fix merge issues
  src/OidcKeyRegistry.sol
Due: none

L-03 Builtin Getter for OIDCKeys Does Not Return n (#433)
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
  prettier --list-different: any of: *.{json,yml}
