Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

.lintstagedrc.yml:

"*.{js,ts,vue}":
    - eslint
"*.md":
    - markdownlint-cli2
    - cspell lint --quiet --no-must-find-files --files
"*.{json,yml}":
    - prettier --list-different

chore: update verifier
  cspell-config/cspell-misc.txt
  src/autogenerated/JwtTxValidationVerifier.sol
  src/autogenerated/ZkemailJwtVerifyVerifier.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

test: test oidc recovery validator
  test/OidcRecoveryValidatorTest.ts
Due: eslint

refactor: use buffer
  test/utils.ts
Due: eslint

test: validate oidc key
  test/OidcRecoveryValidatorTest.ts
Due: eslint

test: should revert if iss is incorrect
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

test: add expected aud
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

chore: remove unused validations
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

feat: add public inputs
  src/validators/OidcRecoveryValidator.sol
  test/utils.ts
Due: eslint

feat: check tx to
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
  test/utils.ts
Due: eslint

feat: add checks on transaction
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

refactor: remove unused variable
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: use enumerable set for storing account guardians
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: update validator
  scripts/deploy.ts
  src/autogenerated/JwtTxValidationVerifier.sol
  src/validators/OidcRecoveryValidator.sol
Due: eslint

feat: wip integration
  scripts/deploy.ts
  src/OidcKeyRegistry.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
  test/utils.ts
Due: eslint

feat: wip
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: lint
  src/autogenerated/JwtTxValidationVerifier.sol
Due: none

feat: better error message for proof verification fail
  src/validators/OidcRecoveryValidator.sol
Due: none

Update test/OidcKeyRegistryTest.ts
  test/OidcKeyRegistryTest.ts
Due: eslint

Update src/validators/OidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

chore: doc _reverse
  src/validators/OidcRecoveryValidator.sol
Due: none

chore: update error msg
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

chore: doc little endiand tx hash
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: fix syntax
  test/OidcKeyRegistryTest.ts
Due: eslint

chore: disable validator tests
  test/OidcRecoveryValidatorTest.ts
Due: eslint

chore: disable test addValidationKey
  test/OidcRecoveryValidatorTest.ts
Due: eslint

fix: making everything work after merge
  scripts/deploy.ts
  src/autogenerated/JwtTxValidationVerifier.sol
  src/validators/OidcRecoveryValidator.sol
Due: eslint

feat: remove aud and iss from pub inputs
  src/autogenerated/JwtTxValidationVerifier.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: test should deploy all contracts
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint

feat: remove aud and iss from pub inputs (#330)
  src/autogenerated/JwtTxValidationVerifier.sol
  src/validators/OidcRecoveryValidator.sol
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint

fix: avoid checking autogenerated contracts
  slither.config.json
Due: prettier --list-different

feat: add startRecovery
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: replace encodePacked with encode
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: remove OidcSignature
  src/validators/OidcRecoveryValidator.sol
Due: none

test: should add new OIDC validation key
  test/OidcRecoveryValidatorTest.ts
Due: eslint

test: should prevent duplicate oidc_digest registration
  test/OidcRecoveryValidatorTest.ts
Due: eslint

test: wip should start recovery process
  test/OidcRecoveryValidatorTest.ts
Due: eslint

test: wip proof verification fails
  src/autogenerated/JwtTxValidationVerifier.sol
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint

fix: startRecovery
  src/autogenerated/JwtTxValidationVerifier.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
  test/utils.ts
Due: eslint

Create devcontainer.json
  .devcontainer/devcontainer.json
Due: prettier --list-different
