Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

.lintstagedrc.yml:

"*.{js,ts,vue}":
    - eslint
"*.md":
    - markdownlint-cli2
    - cspell lint --quiet --no-must-find-files --files
"*.{json,yml}":
    - prettier --list-different

docs: testing commit sign
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: higher timeout time
  packages/nft-quest/tests/main.spec.ts
Due: eslint

fix: requested changes
  packages/auth-server/utils/communicator.ts
  packages/nft-quest/stores/connector.ts
Due: eslint

docs: simplify session interface
  packages/sdk/src/utils/session.ts
Due: eslint

chore: add licenses, fix create session gas estimations, and optimize e2e tests
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  ARCHITECTURE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE-APACHE
  LICENSE-MIT
  SECURITY.md
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/auth-server/nuxt.config.ts
  packages/auth-server/project.json
  packages/demo-app/playwright.config.ts
  packages/demo-app/project.json
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/package.json
  packages/nft-quest/playwright.config.ts
  packages/nft-quest/project.json
  packages/sdk/src/client/actions/session.ts
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

fix: trying to fix tests
  packages/contracts/src/helpers/TimestampAsserterLocator.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
Due: eslint

chore: update sepolia addresses after session validator updates
  packages/auth-server/stores/client.ts
Due: eslint

fix: paymaster sepolia address
  packages/auth-server/stores/client.ts
Due: eslint

chore(auth-server): cleanup views
  packages/auth-server/components/session/AccountHeader.vue
  packages/auth-server/components/session/AdvancedInfo.vue
  packages/auth-server/components/session/Metadata.vue
  packages/auth-server/components/session/template.vue
  packages/auth-server/components/session/tokens.vue
  packages/auth-server/components/views/Auth.vue
  packages/auth-server/components/views/confirmation/RequestAccounts.vue
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/auth-server/components/views/confirmation/Send.vue
  packages/auth-server/components/zk/highlightWrapper.vue
  packages/auth-server/composables/useAccountCreate.ts
  packages/auth-server/layouts/popup.vue
  packages/auth-server/pages/confirm.vue
  packages/auth-server/pages/confirm/connect.vue
Due: eslint

chore(auth-server): cleanup
  packages/auth-server/components/session/Metadata.vue
  packages/auth-server/components/views/Auth.vue
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/auth-server/components/views/confirmation/Send.vue
Due: eslint

docs: add new interface comments
  packages/sdk/src/utils/session.ts
Due: eslint

fix: update interface
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: updated logos
  examples/nft-quest/public/favicon-48x48.png
  examples/nft-quest/public/favicon.ico
  examples/nft-quest/public/favicon.png
  examples/nft-quest/public/favicon.svg
Due: none

feat: proxies, deploy scripts and cleanup
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/project.json
  packages/contracts/scripts/deploy.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/AccountProxy.sol
  packages/contracts/src/TransparentProxy.sol
  packages/contracts/test/ErrorChecker.sol
  packages/contracts/test/response.ts
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/signed-ethers-passkey.json
  packages/contracts/test/signed-viem-challenge.json
  packages/contracts/test/utils.ts
  pnpm-lock.yaml
Due: eslint, prettier --list-different

fix: update addresses
  packages/auth-server/stores/client.ts
Due: eslint

fix: cspell
  cspell-config/cspell-misc.txt
Due: none

fix: updated images
  examples/nft-quest/public/favicon-48x48.png
  examples/nft-quest/public/favicon.png
  examples/nft-quest/public/favicon.svg
Due: none

fix: gateway session ui updates
  examples/bank-demo/nuxt.config.ts
  examples/demo-app/nuxt.config.ts
  examples/nft-quest/assets/style.scss
  packages/auth-server/assets/css/style.scss
  packages/auth-server/components/session/template.vue
  packages/auth-server/layouts/popup.vue
  packages/auth-server/pages/confirm.vue
  packages/auth-server/pages/confirm/connect.vue
Due: eslint

fix: some fixes
  packages/auth-server/stores/client.ts
  packages/contracts/scripts/deploy.ts
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/batch/BatchCaller.sol
  packages/contracts/src/interfaces/IClaveAccount.sol
  packages/contracts/src/interfaces/IUpgradeManager.sol
  packages/contracts/src/managers/UpgradeManager.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/response.ts
Due: eslint

fix: --no-proxy
  packages/contracts/project.json
  packages/contracts/scripts/deploy.ts
Due: eslint, prettier --list-different

fix: disable user verification
  packages/sdk/src/client/actions/passkey.ts
Due: eslint

chore: rename to reflect SSO interface
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ERC7579Account.sol
  packages/contracts/src/SsoAccount.sol
  packages/contracts/src/helpers/Execution.sol
  packages/contracts/src/interfaces/IERC7579Account.sol
  packages/contracts/src/interfaces/IERC7579Validator.sol
  packages/contracts/src/interfaces/ISsoAccount.sol
  packages/contracts/src/libraries/ERC7579Mode.sol
  packages/contracts/src/libraries/Errors.sol
  packages/contracts/src/libraries/SsoStorage.sol
  packages/contracts/src/managers/HookManager.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/managers/OwnerManager.sol
  packages/contracts/src/managers/ValidatorManager.sol
  packages/contracts/src/test/ExampleAuthServerPaymaster.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/SessionKeyTest.ts
  packages/contracts/test/utils.ts
  packages/sdk/src/abi/Factory.ts
  packages/sdk/src/client/actions/account.ts
Due: eslint

feat: sdk deployment workflow
  .github/workflows/deploy-package.yml
  .github/workflows/temp-deploy-package-auto.yml
  packages/sdk/.npmignore
  packages/sdk/package.json
  packages/sdk/prepare-package.mjs
Due: prettier --list-different

fix: remove verdaccio
  .verdaccio/config.yml
  cspell-config/cspell-misc.txt
  docs/verdaccio.md
  package.json
  pnpm-lock.yaml
  project.json
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

fix: build command
  .github/workflows/deploy-package.yml
  .github/workflows/temp-deploy-package-auto.yml
Due: prettier --list-different

fix: package
  packages/sdk/package.json
Due: prettier --list-different

fix: deployment
  .github/workflows/deploy-package.yml
  .github/workflows/temp-deploy-package-auto.yml
Due: prettier --list-different

fix: deploy package
  .github/workflows/deploy-package.yml
  .github/workflows/temp-deploy-package-auto.yml
  pnpm-lock.yaml
Due: prettier --list-different

chore: update git url
  packages/sdk/package.json
Due: prettier --list-different

fix: update contract addresses
  packages/auth-server/stores/client.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/interfaces/IERC7579Validator.sol
Due: eslint

fix: remove verdaccio mentions
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: lint
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: add redundant files to .npmignore
  packages/sdk/.npmignore
  packages/sdk/README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

chore(auth-server): update favicons
  packages/auth-server/nuxt.config.ts
  packages/auth-server/project.json
  packages/auth-server/public/apple-touch-icon.png
  packages/auth-server/public/favicon-96x96.png
  packages/auth-server/public/favicon.ico
  packages/auth-server/public/favicon.svg
  packages/auth-server/public/icon-192.png
  packages/auth-server/public/icon-512.png
  packages/auth-server/public/icon-96.png
  packages/auth-server/public/icon-mask.png
  packages/auth-server/public/manifest.webmanifest
Due: eslint, prettier --list-different

chore(nft-quest): update favicons
  examples/nft-quest/nuxt.config.ts
  examples/nft-quest/public/apple-touch-icon.png
  examples/nft-quest/public/favicon-48x48.png
  examples/nft-quest/public/favicon.ico
  examples/nft-quest/public/favicon.png
  examples/nft-quest/public/favicon.svg
  examples/nft-quest/public/icon-192.png
  examples/nft-quest/public/icon-512.png
  examples/nft-quest/public/icon-96.png
  examples/nft-quest/public/icon-mask.png
  examples/nft-quest/public/manifest.webmanifest
Due: eslint

fix: post-merge fixes
  packages/auth-server/stores/client.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/scripts/deploy.ts
  packages/contracts/src/AAFactory.sol
Due: eslint

docs: added link to running test node
  examples/nft-quest/README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: fix lint
  examples/nft-quest/README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files
