Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

Uncomment low-s max mallebility check
  packages/contracts/package-lock.json
  packages/contracts/package.json
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/PasskeyModule.ts
  packages/contracts/test/ethers-signed-challenge-standalone.json
  packages/contracts/test/only-signed-viem-challenge.json
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/sdk/utils/passkey.ts
  packages/contracts/test/signed-challenge.json
  packages/contracts/test/signed-viem-challenge.json
  packages/sdk/package-lock.json
  packages/sdk/package.json
  packages/sdk/src/utils/passkey.ts
Due: eslint, prettier --list-different

Fix spelling errors and attempt to re-use SDK within e2e tests
  docs/sdk/client/README.md
  packages/contracts/package-lock.json
  packages/contracts/package.json
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/sdk/utils/passkey.ts
  packages/contracts/test/utils.ts
  packages/sdk/package.json
  packages/sdk/src/utils/index.ts
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

Revert attempt to re-use sdk in e2e test and get tests passing again
  packages/contracts/package-lock.json
  packages/contracts/package.json
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/sdk/PasskeyClient.ts
  packages/contracts/test/sdk/utils/passkey.ts
  packages/contracts/test/utils.ts
Due: eslint, prettier --list-different

fix: use latest sdk and refactor
  cspell-config/cspell-packages.txt
  cspell.json
  docs/sdk/client-gateway/README.md
  packages/gateway/components/AccountHeader.vue
  packages/gateway/components/views/Connect.vue
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/Confirmation.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/components/views/confirmation/Send.vue
  packages/gateway/composables/useTokenUtilities.ts
  packages/gateway/pages/confirm.vue
  packages/gateway/stores/account.ts
  packages/gateway/stores/client.ts
  packages/gateway/stores/requests.ts
  packages/gateway/utils/formatters.ts
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/client-gateway/WalletProvider.ts
  packages/sdk/src/client-gateway/index.ts
  packages/sdk/src/client-gateway/interface.ts
  packages/sdk/src/client-gateway/message.ts
  packages/sdk/src/client-gateway/method.ts
  packages/sdk/src/client-gateway/rpc.ts
  packages/sdk/src/client/decorators/session_wallet.ts
  packages/sdk/src/communicator/PopupCommunicator.ts
  packages/sdk/src/communicator/index.ts
  packages/sdk/src/communicator/interface.ts
  packages/sdk/src/connector/index.ts
  packages/sdk/src/errors/index.ts
  packages/sdk/src/errors/utils.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils/provider.ts
  packages/sdk/src/utils/storage.ts
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

chore: remove some redundant commented code
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/Confirmation.vue
Due: eslint

fix: conslidate the use of the unwrap ec2
  .github/workflows/ci.yml
  .github/workflows/deploy-preview.yml
  .github/workflows/lint.yml
  .lintstagedrc.js
  package.json
  packages/contracts/package.json
  packages/contracts/test/PasskeyModule.ts
  packages/sdk/src/utils/passkey.ts
  pnpm-lock.yaml
Due: eslint, prettier --list-different

fix: remove asserts
  .gitignore
  .lintstagedrc.js
  packages/demo-app/local-test.dockerfile
  packages/sdk/src/utils/passkey.ts
Due: eslint

fix: connecting with gateway without session
  packages/gateway/components/views/confirmation/RequestAccounts.vue
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/connector/index.ts
Due: eslint

fix: remove redundant logs
  packages/sdk/src/connector/index.ts
Due: eslint

fix: transaction screen improvements and fixes
  packages/gateway/components/views/confirmation/Send.vue
  packages/gateway/stores/client.ts
  packages/gateway/stores/requests.ts
Due: eslint

interop version
  packages/contracts/hardhat.config.ts
  packages/contracts/src/AAFactory.sol
  packages/contracts/src/ClaveAccount.sol
  packages/contracts/src/handlers/ValidationHandler.sol
  packages/contracts/src/managers/ModuleManager.sol
  packages/contracts/src/validators/PasskeyValidator.sol
  packages/contracts/src/validators/SessionPasskeySpendLimitModule.sol
  packages/contracts/src/validators/WebAuthValidator.sol
  packages/contracts/test/BasicTest.ts
  packages/contracts/test/EndToEndSpendLimit.ts
  packages/contracts/test/ErrorChecker.sol
  packages/contracts/test/PasskeyModule.ts
  packages/gateway/.firebaserc
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/Send.vue
  packages/gateway/composables/useFetchAccountData.ts
  packages/gateway/firebase.json
  packages/gateway/stores/account.ts
  packages/gateway/stores/client.ts
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/client/actions/account.ts
  packages/sdk/src/client/clients/eoa.ts
  packages/sdk/src/client/index.ts
  pnpm-lock.yaml
Due: eslint, prettier --list-different

fix: update demo app to use just
  packages/demo-app/package.json
  packages/demo-app/pages/index.vue
  packages/demo-app/public/favicon.ico
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/connector/index.ts
  pnpm-lock.yaml
Due: eslint, prettier --list-different

fix: remove redundant code, consistent session key var names
  docs/sdk/client-gateway/README.md
  docs/sdk/client/README.md
  packages/bank-demo/components/app/AddCryptoButton.vue
  packages/demo-app/pages/index.vue
  packages/gateway/components/views/Login.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/composables/useAccountRegistration.ts
  packages/gateway/stores/account.ts
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/client-gateway/interface.ts
  packages/sdk/src/client-gateway/rpc.ts
  packages/sdk/src/client/actions/passkey.ts
  packages/sdk/src/client/actions/session.ts
  packages/sdk/src/client/clients/session.ts
  packages/sdk/src/utils/encoding.ts
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: rename expiry to expiresAt
  docs/sdk/client/README.md
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/stores/client.ts
  packages/sdk/src/abi/SessionKeyModule.ts
  packages/sdk/src/client-gateway/interface.ts
  packages/sdk/src/utils/encoding.ts
  packages/sdk/src/utils/session.ts
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: interface ease of use improvements
  packages/demo-app/pages/index.vue
  packages/demo-app/tests/create-account.spec.ts
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/client-gateway/WalletProvider.ts
  packages/sdk/src/client-gateway/interface.ts
  packages/sdk/src/connector/index.ts
  packages/sdk/src/index.ts
  packages/sdk/src/utils/session.ts
Due: eslint

fix: e2e
  packages/demo-app/tests/create-account.spec.ts
Due: eslint

fix: metadata
  packages/sdk/src/client-gateway/Signer.ts
  packages/sdk/src/client-gateway/WalletProvider.ts
  packages/sdk/src/connector/index.ts
Due: eslint

fix: update gateway ui
  packages/demo-app/nuxt.config.ts
  packages/demo-app/pages/index.vue
  packages/gateway/app.vue
  packages/gateway/components/AccountHeader.vue
  packages/gateway/components/common/button/Button.vue
  packages/gateway/components/common/line/Line.vue
  packages/gateway/components/icons/Clock.vue
  packages/gateway/components/icons/Fingerprint.vue
  packages/gateway/components/views/confirmation/RequestAccounts.vue
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/nuxt.config.ts
Due: eslint

fix: undo double token spend limit
  packages/gateway/components/views/confirmation/RequestSession.vue
Due: eslint

fix: transaction confirmation page
  packages/gateway/components/views/confirmation/RequestSession.vue
  packages/gateway/components/views/confirmation/Send.vue
Due: eslint

fix: minor improvement
  packages/nft-quest/stores/connector.ts
Due: eslint

fix: e2e
  packages/gateway/components/views/Login.vue
  packages/nft-quest/stores/connector.ts
Due: eslint

fix: try fix dependencies
  pnpm-lock.yaml
Due: none

fix: undo dependencies changes
  packages/demo-app/package.json
  pnpm-lock.yaml
Due: prettier --list-different

fix: update nft addresses
  packages/nft-quest/nuxt.config.ts
  packages/nft-quest/stores/connector.ts
Due: eslint

fix: undo address changes
  packages/nft-quest/nuxt.config.ts
Due: eslint

fix: e2e gas issue
  packages/nft-quest/composables/useMintNft.ts
  packages/nft-quest/stores/connector.ts
Due: eslint

chore: update docs
  docs/sdk/client-gateway/README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

fix: add even more additional gas
  packages/nft-quest/composables/useMintNft.ts
Due: eslint

feat: integrate timestamp asserter
  packages/contracts/src/interfaces/ITimestampAsserter.sol
  packages/contracts/src/validators/SessionKeyValidator.sol
  packages/contracts/test/SessionKeyTest.ts
Due: eslint

fix: sdk ease of use improvements and some nft quest fixes
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/nft-quest/components/TransferZeek.vue
  packages/nft-quest/composables/useMintNft.ts
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/pages/mint/share.vue
  packages/nft-quest/stores/connector.ts
  packages/sdk/src/client-auth-server/interface.ts
  packages/sdk/src/utils/session.ts
Due: eslint

fix: undo call constraint index removal
  packages/nft-quest/stores/connector.ts
  packages/sdk/src/client-auth-server/interface.ts
  packages/sdk/src/utils/session.ts
Due: eslint

fix: sdk build
  packages/sdk/src/client-auth-server/interface.ts
Due: eslint

chore(nft-quest): fix preview image for nft
  packages/nft-quest/public/nft/zeek-nft.png
Due: none

fix: removed signIn button
  packages/auth-server/components/views/confirmation/RequestSession.vue
  packages/nft-quest/components/TransferZeek.vue
  packages/nft-quest/components/WalletButton.vue
  packages/nft-quest/composables/useMintNft.ts
  packages/nft-quest/pages/mint/index.vue
  packages/nft-quest/pages/mint/share.vue
  packages/nft-quest/stores/connector.ts
  packages/sdk/src/client-auth-server/interface.ts
  packages/sdk/src/utils/session.ts
Due: eslint

fix: updated passkey name
  README.md
  packages/auth-server/composables/useAccountCreate.ts
Due: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: fixed linting
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: updated readme
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: linting
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

Path conditions:
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
  prettier --list-different: any of: *.{json,yml}
