Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

.lintstagedrc.yml:

"*.{js,ts,vue}":
    - eslint
"*.md":
    - markdownlint-cli2
    - cspell lint --quiet --no-must-find-files --files
"*.{json,yml}":
    - prettier --list-different

chore: add more comments to webauthn verify
  src/test/TestWebAuthValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

chore: cast to uint256 before zero compare
  src/validators/WebAuthValidator.sol
Due: none

chore: make comments more exact when referring to internal data
  src/AAFactory.sol
  src/interfaces/IOwnerManager.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
Due: none

chore: update authors on contracts
  src/interfaces/IHook.sol
  src/managers/HookManager.sol
Due: none

docs: minor comment improvements
  src/AAFactory.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: rename error variable
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
Due: none

fix: batch caller improvements
  src/batch/BatchCaller.sol
Due: none

fix: getReturnData
  src/batch/BatchCaller.sol
Due: none

fix: remove unused error
  src/libraries/Errors.sol
Due: none

fix: gas optimizations and minor improvements
  src/libraries/SsoStorage.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

feat: change salt depending on deployer
  src/AAFactory.sol
  test/BasicTest.ts
Due: eslint

Add Oidc to dictionary
  cspell-config/cspell-misc.txt
Due: none

Add pkop to dictionary
  cspell-config/cspell-misc.txt
Due: none

Remove OidcValidatorTest
  test/OidcValidatorTest.ts
Due: eslint

feat: added oidc zk verifier
  cspell-config/cspell-sol.txt
  cspell.json
  scripts/deploy.ts
  src/autogenerated/ZkemailJwtVerifyVerifier.sol
Due: eslint, prettier --list-different

fix: IModule interface description
  src/interfaces/IModule.sol
Due: none

fix: migrate to custom errors
  src/AAFactory.sol
  src/SsoAccount.sol
  src/batch/BatchCaller.sol
  src/helpers/TimestampAsserterLocator.sol
  src/helpers/Utils.sol
  src/libraries/Errors.sol
  src/libraries/SessionLib.sol
  src/managers/HookManager.sol
  src/managers/OwnerManager.sol
  src/managers/ValidatorManager.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: typo
  src/libraries/Errors.sol
  src/validators/SessionKeyValidator.sol
Due: none

Deploy OidcRecoveryValidator
  cspell-config/cspell-misc.txt
  scripts/deploy.ts
  src/validators/OidcRecoveryValidator.sol
Due: eslint

Make OidcRecoveryValidator initializable
  src/validators/OidcRecoveryValidator.sol
Due: none

Remove immutable
  src/validators/OidcRecoveryValidator.sol
Due: none

Add OidcValidator to paymaster
  src/test/ExampleAuthServerPaymaster.sol
Due: none

lint
  src/test/ExampleAuthServerPaymaster.sol
Due: none

fix: test ExampleAuthServerPaymaster
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint

fix: added missing parameters for init
  scripts/deploy.ts
Due: eslint

fix: remove redeployed oidc validator
  scripts/deploy.ts
Due: eslint

chore: format comment
  src/libraries/SsoStorage.sol
Due: none

fix: safe gasleft() conversion to uint32
  src/batch/BatchCaller.sol
Due: none

chore: add pragma
  src/interfaces/IModule.sol
Due: none

fix: remove separate signature parameter in validateTransaction
  src/SsoAccount.sol
  src/interfaces/IModuleValidator.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: tests
  test/PasskeyModule.ts
Due: eslint

chore: audit n02 extended
  src/SsoAccount.sol
  src/handlers/ERC1271Handler.sol
  src/interfaces/IOwnerManager.sol
  src/managers/OwnerManager.sol
  src/validators/WebAuthValidator.sol
  test/BasicTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
Due: eslint

feat: use a single random id for account id
  src/AAFactory.sol
  test/BasicTest.ts
  test/HooksTest.ts
  test/PasskeyModule.ts
  test/SessionKeyTest.ts
Due: eslint

chore: update r and s casting to 0
  src/validators/WebAuthValidator.sol
Due: none

fix: when adding modules, check that it is not installed as another type
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

fix: compilation
  src/libraries/SsoStorage.sol
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

fix: minor issue
  src/managers/HookManager.sol
  src/managers/ValidatorManager.sol
Due: none

feat: remove standalone precompile test
  src/test/TestWebAuthValidator.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

feat: added method to get address from oidc_digest
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
Due: eslint
