Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

test: fix existing and add more tests
  src/SsoAccount.sol
  src/managers/HookManager.sol
  test/HooksTest.ts
  test/SessionKeyTest.ts
Due: eslint

chore: silence slither warning
  src/validators/AllowedSessionsValidator.sol
Due: none

feat: xsolla's AllowedSessionsValidator
  src/libraries/Errors.sol
  src/validators/AllowedSessionsValidator.sol
  src/validators/SessionKeyValidator.sol
Due: none

feat: script that uploads error signatures to openchain.xyz
  scripts/openchain.ts
Due: eslint

refactor: move more errors to Errors.sol
  src/libraries/Errors.sol
  src/validators/WebAuthValidator.sol
  test/PasskeyModule.ts
Due: eslint

refactor: move the rest of the errors
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/interfaces/IOidcRecoveryValidator.sol
  src/libraries/Errors.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
  test/OidcRecoveryValidatorTest.ts
Due: eslint

fix: comments
  src/SsoAccount.sol
  src/helpers/SsoUtils.sol
Due: none

fix: review comments
  .github/workflows/openchain.yml
  package.json
  src/SsoAccount.sol
  src/handlers/BatchCaller.sol
  src/handlers/NoHooksCaller.sol
  src/helpers/SsoUtils.sol
  src/interfaces/IBatchCaller.sol
  src/interfaces/INoHooksCaller.sol
  src/interfaces/ISsoAccount.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  src/validators/SessionKeyValidator.sol
Due: prettier --list-different

feat: sort out validator interfaces
  src/OidcKeyRegistry.sol
  src/interfaces/IAllowedSessionsValidator.sol
  src/interfaces/ISessionKeyValidator.sol
  src/interfaces/IWebAuthValidator.sol
  src/validators/AllowedSessionsValidator.sol
  src/validators/GuardianRecoveryValidator.sol
  src/validators/SessionKeyValidator.sol
  src/validators/WebAuthValidator.sol
Due: none

fix: renaming errors
  src/interfaces/INoHooksCaller.sol
  src/libraries/Errors.sol
  src/validators/GuardianRecoveryValidator.sol
  test/GuardianRecoveryValidatorTest.ts
Due: eslint

feat: remove session counter
  src/libraries/Errors.sol
  src/validators/SessionKeyValidator.sol
Due: none

fix: session validator storage layout for migration
  src/validators/SessionKeyValidator.sol
Due: none

docs: expand some comments
  src/validators/AllowedSessionsValidator.sol
  src/validators/SessionKeyValidator.sol
Due: none

feat: tests for AllowedSessionsValidator
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint

feat: session tester constructor
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
Due: eslint

fix: debug test
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: revert SessionKeyTest
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
Due: eslint

refactor: remove unnecessary describe section
  test/AllowedSessionsValidatorTest.ts
Due: eslint

feat: adding negative AllowedSessionsValidator test
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: test
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: exposing revert
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: specifying the parent impl
  src/validators/AllowedSessionsValidator.sol
Due: none

fix: utilizing aa for the session creation
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
Due: eslint

fix: utilize allowed sessions validator in the tester obj
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
Due: eslint

fix: fixing casting to partial session
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: limitTime change
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: tester extension
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
Due: eslint

test: console logs
  test/AllowedSessionsValidatorTest.ts
Due: eslint

test: new console logs
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
Due: eslint

test: more logs
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
Due: eslint

fix: trying to make the limit types of value limits same
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: adding preinit of allowed sessions validator
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
  test/utils.ts
Due: eslint

test: temporarily shut the checks
  test/AllowedSessionsValidatorTest.ts
Due: eslint

test: temporarily enable half of the checks
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: adding more configurations for aa txs
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
Due: eslint

fix: deploying additional smart acc
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: forgot to reinstance the tester
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: adding initial session
  test/AllowedSessionsValidatorTest.ts
Due: eslint

fix: adding more customization to tester
  test/AllowedSessionsValidatorTest.ts
  test/SessionKeyTest.ts
Due: eslint

test: again shut the half of the checks
  test/AllowedSessionsValidatorTest.ts
Due: eslint

Path conditions:
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
  prettier --list-different: any of: *.{json,yml}
