Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

.lintstagedrc.yml:

"*.{js,ts,vue}":
    - eslint
"*.md":
    - markdownlint-cli2
    - cspell lint --quiet --no-must-find-files --files
"*.{json,yml}":
    - prettier --list-different

chore: add readme for guardian recovery module
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

feat: add timelimit error
  src/validators/OidcRecoveryValidator.sol
Due: none

Update src/validators/OidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

chore: improve readyToRecover doc
  src/validators/OidcRecoveryValidator.sol
Due: none

chore: recoverNonce and addedOn docs
  src/validators/OidcRecoveryValidator.sol
Due: none

docs: iss
  src/validators/OidcRecoveryValidator.sol
Due: none

docs: _deleteOidcAccount
  src/validators/OidcRecoveryValidator.sol
Due: none

docs: deleteOidcAccount
  src/validators/OidcRecoveryValidator.sol
Due: none

chore: tiny changes in oidc validator
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: typo
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: little refinements in oidc validator
  src/validators/OidcRecoveryValidator.sol
Due: none

chore: remove unused errors
  src/validators/OidcRecoveryValidator.sol
Due: none

fix(L-05): do not check removal return value as it's not possible to fail
  src/validators/GuardianRecoveryValidator.sol
Due: none

feat: add validation checks in constructor
  src/AAFactory.sol
Due: none

chore: add doc to explain what module means
  src/validators/WebAuthValidator.sol
Due: none

feat: using stored iss to calculate iss hash
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: moved timelimit inside proof data
  src/validators/OidcRecoveryValidator.sol
Due: none

test: add some erc1271 tests
  src/test/ERC1271Caller.sol
  test/BasicTest.ts
  test/PasskeyModule.ts
  test/utils.ts
Due: eslint

fix: update signature for passkey validator
  test/PasskeyModule.ts
Due: eslint

fix: simplify ERC1271 validation
  src/handlers/ERC1271Handler.sol
Due: none

fix(N-14): make interface consistent with implementation method order wise
  src/interfaces/IGuardianRecoveryValidator.sol
Due: none

chore: move mapping into state var section
  src/validators/WebAuthValidator.sol
Due: none

feat: added validations
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: validate received arguments in addOidcAccount
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: deployment script with guardian
  scripts/deploy.ts
Due: eslint

fix: using correct definition for oidc digest in comments
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: add missing params in contract verification script
  test/utils.ts
Due: eslint

fix: change test function calls
  test/GuardianRecoveryValidatorTest.ts
Due: eslint

fix: test remove gas limit
  test/GuardianRecoveryValidatorTest.ts
Due: eslint

fix: increase time to render previous recovery useless for testing
  test/GuardianRecoveryValidatorTest.ts
Due: eslint

fix: remove unused interface method
  src/interfaces/IGuardianRecoveryValidator.sol
Due: none

fix: add missing errors to interface
  src/interfaces/IGuardianRecoveryValidator.sol
Due: none

fix: add missing events to interface
  src/interfaces/IGuardianRecoveryValidator.sol
Due: none

fix: remove repeated error
  src/interfaces/IGuardianRecoveryValidator.sol
Due: none
