Repository matter-labs/zksync-sso-clave-contracts: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, markdownlint-cli2, cspell lint --quiet --no-must-find-files --files, prettier --list-different

fix: improved visibility for OidcKeyRegistry props
  src/OidcKeyRegistry.sol
Due: none

feat: using Ownable2StepUpgradable in OidcKeyRegistry
  src/OidcKeyRegistry.sol
Due: none

feat: expiring oidc recovery attempts after 10 mins
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: removing digests from index on update
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

fix: improved readibility
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: reseting oidc data when a new key is added
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: using all passkey data to generate hash
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: checking if iss is too long
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

fix: avoid magic number
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: oidc validator validateSignature fix
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: added test for validateSignature
  test/OidcRecoveryValidatorTest.ts
Due: eslint

chore: added more tests for key deletion
  test/OidcKeyRegistryTest.ts
Due: eslint

feat: validating exponent
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

fix: deploy script
  scripts/deploy.ts
  test/utils.ts
Due: eslint

feat: passkey hash and target address added to jwt nonce content
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: simplified jwt nonce serialization
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: improved comments regarding circuit pub signals format
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: improvements in oidc key registry
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

feat: only allow odd rsa modulus
  src/OidcKeyRegistry.sol
  src/interfaces/IOidcKeyRegistry.sol
  test/OidcKeyRegistryTest.ts
Due: eslint

feat: upgrade zksolc
  hardhat.config.ts
Due: eslint

feat: update readme with guardian recovery
  README.md
Due: markdownlint-cli2, cspell lint --quiet --no-must-find-files --files

docs: add a warning to EIP1271 handler about replay protection
  src/handlers/ERC1271Handler.sol
Due: none

fix: removed unused return value in addOidcAccount
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: new tests for isValidSignature
  test/PasskeyModule.ts
Due: eslint

feat: added method to cancel started oidc recovery
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
  test/OidcRecoveryValidatorTest.ts
Due: eslint

fix: removed debug line
  src/OidcKeyRegistry.sol
Due: none

fix: using correct variable in cancelRecovery
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: improvements in oidc key registry
  test/OidcKeyRegistryTest.ts
Due: eslint

fix: fix comment
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: added recovery cancelled event
  src/interfaces/IOidcRecoveryValidator.sol
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: removed forgotten var
  src/OidcKeyRegistry.sol
Due: none

fix: using uint256 instead of uint in IZkVerifier
  src/interfaces/IZkVerifier.sol
Due: none

fix: avoid double storage read in OidcRecoveryValidator#addOidcAccount
  src/validators/OidcRecoveryValidator.sol
Due: none

fix: using correct type for previousOwner
  src/validators/OidcRecoveryValidator.sol
Due: none

feat: implement ERC7739
  src/handlers/ERC1271Handler.sol
  src/interfaces/ISsoAccount.sol
Due: none

Path conditions:
  eslint: any of: *.{js,ts,vue}
  markdownlint-cli2: any of: *.md
  cspell lint --quiet --no-must-find-files --files: any of: *.md
  prettier --list-different: any of: *.{json,yml}
